<div class="search-and-sort">
  <button class="btn-add" (click)="openAddEmployeePopup()">Ajouter (+)</button>
</div>

@if (isAddEmployeePopupOpen) {
  <div class="add-employee-popup">
    <div class="popup-content">
      <h3>Ajouter un Employé</h3>
      <form (ngSubmit)="addEmployee()" #employeeForm="ngForm">
        <div>
          <label for="prenom">Prénom : </label>
          <input type="text" id="prenom" [(ngModel)]="newEmployee.prenom" name="prenom" required/>
        </div>
        <div>
          <label for="nom">Nom : </label>
          <input type="text" id="nom" [(ngModel)]="newEmployee.nom" name="nom" required/>
        </div>
        <div>
          <label for="date_entree">Date d'entrée : </label>
          <input type="date" id="date_entree" [(ngModel)]="newEmployee.date_entree" name="date_entree" required/>
        </div>
        <div>
          <label for="competences"> Compétences : </label>
          <input type="text" id="competences" [(ngModel)]="newEmployee.competences" name="competences" required/>
        </div>
        <div>
          <button type="submit" class="btn-appliquer" [disabled]="!employeeForm.form.valid">Ajouter</button>
        </div>
      </form>
      <button class="btn-fermer" (click)="closeAddEmployeePopup()">Fermer</button>
    </div>
  </div>
}
