<div class="accueil">
  <div class="background">
    <div class="text-overlay">
      <p>Skill'QUEST</p>
      <img src="/assets/img/fleche-bas.png">
    </div>
  </div>
  <div class="action">
    <div class="carte-entiere1">
      <div class="contenu-carte">
        <div class="titre-carte">
          <h4>Personnel</h4>
        </div>
        <div class="desc-carte">
          <p>Vous pouvez consulter la liste du personnel ainsi que modifier leur profil.</p>
        </div>
        <div class="acces-page">
          <button class="btn-autre" routerLink="/employes">Accéder</button>
        </div>
      </div>
    </div>

    <div class="carte-entiere2">
      <div class="contenu-carte">
        <div class="titre-carte">
          <h4>Missions</h4>
        </div>
        <div class="desc-carte">
          <p>Vous pouvez consulter la liste des mission, les modifier et assigner des employés.</p>
        </div>
        <div class="acces-page">
          <button class="btn-ajouter" routerLink="/missions">Accéder</button>
        </div>
      </div>
    </div>
    <div class="carte-entiere3">
      <div class="contenu-carte">
        <div class="titre-carte">
          <h4> Dashboards</h4>
        </div>
        <div class="desc-carte">
          <p>Vous pouvez consulter les dashboards.</p>
        </div>
        <div class="acces-page">
          <button class="btn-dash" routerLink="/dashboard">Accéder</button>
        </div>
      </div>
    </div>
    <div class="carte-entiere4">
      <div class="contenu-carte">
        <div class="titre-carte">
          <h4> Salon</h4>
        </div>
        <div class="desc-carte">
          <p>Vous pouvez consulter vos Salons.</p>
        </div>
        <div class="acces-page">
          <button class="btn-salon" routerLink="/salon">Accéder</button>
        </div>
      </div>
    </div>
  </div>
</div>
