.missions-list {
  display: grid;
  gap: 20px 10px; /* Espacement entre les éléments */
  width: 80%;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  justify-content: center;
}


.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Recherche */
.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding-bottom: 20px;
}

.page-header {
  display: flex;
  padding-left: 30px;
}

.double-bouton {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 20px;
}

/* Page des missions */
.mission-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}


.missions-actuelles, .missions-finies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.missions-actuelles {
  align-items: center;
}


/* Pop-up delete */
.delete-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


/* Formulaire */
form div {
  margin-bottom: 15px;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form label {
  font-size: 14px;
}

form input[type="text"],
form input[type="date"] {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

form input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}


form .competences-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  max-width: 100%;
  overflow-y: auto;
  max-height: 250px;
}

/* Pop-up Ajouter mission */
.add-mission-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.add-mission-popup .popup-content {
  position: relative;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%; /* Ajuste la largeur à 80% de l'écran */
  max-width: 600px; /* Largeur maximale */
  max-height: 80%; /* Limite la hauteur */
  overflow-y: auto; /* Permet le défilement si nécessaire */
  z-index: 1001;
}

/* Responsivité de la pop-up Ajouter */
@media (max-width: 768px) {
  .add-mission-popup .popup-content {
    width: 90%; /* Réduit la largeur à 90% pour les petits écrans */
    padding: 20px;
  }

  .add-mission-popup .popup-content form {
    gap: 10px;
  }

  .add-mission-popup .btn-apply,
  .add-mission-popup .btn-close {
    width: 45%; /* Ajuste les boutons pour les petits écrans */
  }
}
