/* Header */
header {
  display: flex;
  flex-direction: row;           /* Passage en ligne */
  align-items: center;
  justify-content: space-between;/* Le logo à gauche et le contenu projeté à droite */
  padding: 0 26px;
  height: 100px;
  width: 100%;
  background: #3C4658;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

/* Logo et nom */
.logo-nom {
  display: flex;
  align-items: center;
  gap: 25px;
}

.logo {
  width: 100px;
  height: auto;
  background-color: transparent;
  filter: drop-shadow(0 0 0 white);
}

.nom {
  font-family: 'Barlow Condensed', serif;
  font-style: italic;
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
  color: white;
}

/* Styles du bouton Déconnexion */
.btn-logout {
  padding: 10px 20px;
  background-color: #e74c3c; 
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-logout:hover {
  background-color: #c0392b;
}
