<div *ngIf="isLoading">Chargement en cours...</div>

<div *ngIf="!isLoading && employes.length === 0">Aucun employé trouvé.</div>

<div *ngIf="!isLoading && employes.length > 0">
  <div class="employee-container">
    <!-- Afficher chaque employé dans un cadre -->
    <div *ngFor="let employe of employes" class="employee-card" (click)="openEmployeeDetails(employe)">
      <div class="employee-name">
        <h3>{{ employe.nom }} {{ employe.prenom }}</h3>
      </div>

      <!-- Ajouter un bouton modifier et un bouton retirer sous chaque employé -->
      <div class="employee-actions">
        <button class="edit-btn" (click)="editEmployee(employe, $event)">Modifier</button>
        <button class="delete-btn" (click)="deleteEmployee(employe, $event)">Retirer</button>
      </div>
    </div>
  </div>
</div>

<!-- Popup avec les informations détaillées d'un employé -->
<div *ngIf="selectedEmployee" class="popup">
  <div class="popup-content">
    <span class="close" (click)="closePopup()">&#10006;</span>
    <h2>Informations de l'employé</h2>
    <p><strong>Nom :</strong> {{ selectedEmployee.nom }}</p>
    <p><strong>Prénom :</strong> {{ selectedEmployee.prenom }}</p>
    <p><strong>Date d'entrée :</strong> {{ selectedEmployee.date_entree | date }}</p>
    <!-- Ajouter d'autres informations ici -->
  </div>
</div>
