<div class="container">
  <h2>Bienvenue sur la page d'inscription et de connexion</h2>
  
  <div class="button-container">
    <button class="btn" *ngIf="currentForm !== 'inscription'" (click)="showForm('inscription')">S'inscrire</button>
    <button class="btn" *ngIf="currentForm === 'inscription'" (click)="showForm('connexion')">Retour</button>
  </div>
  
  <div *ngIf="currentForm === 'inscription'">
    <app-inscription></app-inscription>
  </div>
  
  <div *ngIf="currentForm === 'connexion'">
    <app-connexion></app-connexion>
  </div>
</div>
