<button class="btn-autre" (click)="openSortPopup()">Trier par ...</button>
    <div *ngIf="isSortPopupOpen" class="sort-popup">
      <div class="popup-content">
        <h3>Trier les employés</h3>
        <div class="sort-options">
          <label>
            <input type="radio" name="sort" value="nom" [(ngModel)]="sortBy"/> Par Nom
          </label>
          <label>
            <input type="radio" name="sort" value="prenom" [(ngModel)]="sortBy"/> Par Prénom
          </label>
          <label>
            <input type="radio" name="sort" value="date_entree" [(ngModel)]="sortBy"/> Par Date d'entrée
          </label>
        </div>
        <div class="double-bouton">
          <button class="btn-appliquer" (click)="applySort()">Appliquer</button>
          <button class="btn-fermer" (click)="closeSortPopup()">Fermer</button>
        </div>
      </div>
    </div>