<div class="search">
  <app-search-bar></app-search-bar>
  <button class="btn-add" (click)="openAddMissionPopUp()">Ajouter</button>
</div>

@if(isAddMissionPopupOpen){
  <app-creer-mission [competences]="competences" (closePopup)="closeAddMissionPopup()" (missionAdded)="onMissionAdded()"></app-creer-mission>
}

<div class="page-header">
  <h1>Missions de Skill'Quest</h1>
</div>

@if(isLoading){
  <div class="loading-message">
    Chargement en cours...
  </div>
}

@if(!isLoading && missions.length === 0){
  <div class="no-mission-message">
    Aucune mission trouvée.
  </div>
}

<div class="mission-page">
  <h2>Liste des Missions</h2>
  <p>Voici la liste des missions disponibles...</p>

  @for (mission of missions; track mission.idm) {
    <app-carte-mission [mission]="mission" (missionUpdated)="fetchMissions()"></app-carte-mission>
  }
</div>
