app-search-bar {
  display: block;
  justify-items: center;
  margin-top: 3%;
}

app-menu {
  display: block;

}

.page-content {
  background-color: #F5F5F5;
  height: 100%;
  width: calc(100% - 150px);
  margin-left: 150px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.logout-container {
  margin-right: 3%; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-logout {
  padding: 10px 20px;
  background-color: #08153d; 
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-logout:hover {
  background-color: #f74a2c; 
  transform: scale(1.05); 
}

.btn-logout:focus {
  outline: none; 
}

.btn-logout:active {
  background-color: #e74c3c; 
  transform: scale(1); 
}
