<div class="container-card">
    <div class="title">
      <h1>{{ mission.nomm }}</h1>
    </div>
    <div class="description">
      <p><strong>Description :</strong> {{ mission.description }}</p>
    </div>
    <div class="information">
      <p><strong>Etat :</strong> En-cours</p>
      <p><strong>Employés :</strong></p>
    </div>
    <div class="date">
      <p><strong>Date de début :</strong> {{ mission.dated | date:'dd/MM/yyyy' }}</p>
      <p><strong>Date de fin :</strong> {{ mission.datef | date:'dd/MM/yyyy' }}</p>
    </div>
    <div class="button-container">
      <button id="modifier">Modifier</button>
      <button id="supprimer">Supprimer</button>
    </div>
  </div>
  