<div class="carte">
  <div class="haut-carte-mission">
    <div class="titre-mission">
      <p>{{ mission.nomm }}</p>
    </div>

    <div class="etat-mission">
      @if (mission.dated <= currentDate && mission.datef >= currentDate) {
        <p class="en-cours">En cours</p>
      }
      @if (mission.dated >= currentDate && !isPrepared) {
        <p class="preparation">Préparation</p>
      }
      @if (mission.dated >= currentDate && isPrepared) {
        <p class="planifiee">Planifiée</p>
      }
      @if (mission.datef < currentDate) {
        <p class="terminee">Terminée</p>
      }
    </div>
  </div>
  <div class="date-mission">
    <div class="date-debut">
      <p>Date de début :</p>
      <p><strong>{{ mission.dated | date:'dd/MM/yyyy' }}</strong></p>
    </div>
    <div class="date-fin">
      <p>Date de fin :</p>
      <p><strong>{{ mission.datef | date:'dd/MM/yyyy' }}</strong></p>
    </div>
  </div>
  <div class="competences-requises">
    <p><strong>Compétences utilisées :</strong></p>
    <div>
      <ul>
        <li *ngFor="let comp of mission.competences">{{ comp }}</li>
      </ul>

    </div>
  </div>
  <div class="employes-assignes">
    <p><strong>Employés :</strong></p>
    <div class="employes-en-mission" *ngFor="let employe of mission.employes">
      <p><strong>{{ employe.prenom }} {{ employe.nom }} </strong> : {{ employe.competences }}</p>
    </div>
  </div>
  <div class="double-bouton">
    <button class="btn-modifier" (click)="openEditMissionPopup(mission)">Modifier</button>
    <button class="btn-supprimer" (click)="openDeleteMissionPopup(mission)">Supprimer</button>
  </div>
</div>













@if (isDeletePopupOpen) {
  <div class="delete-popup">
    <div class="popup-content">
      <h3> Supprimer la mission {{ delMission.nomm }} </h3>
      <p>Voulez vous vraiment supprimer cette mission ?</p>
      <div class="double-bouton">
        <button class="btn-fermer" (click)="closeDeleteMissionPopup()">Abandonner</button>
        <button type="submit" class="btn-appliquer" (click)="deleteMission()">Confirmer</button>
      </div>

    </div>
  </div>
}


@if (isEditMissionPopupOpen) {
  <div class="edit-mission-popup">
    <div class="popup-content">

      <h3>Modifier une mission</h3>
      <form (ngSubmit)="saveMission()" #editMissionForm="ngForm">
        <div>
          <label for="nom">Nom : </label>
          <input type="text" id="nom" [(ngModel)]="editMission.nomm" name="nom" required/>
        </div>
        <div>
          <label for="dated">Date de début : </label>
          <input type="date" id="dated" [(ngModel)]="editMission.dated" name="dated" required/>
        </div>
        <div>
          <label for="datef"> Date de fin : </label>
          <input type="date" id="datef" [(ngModel)]="editMission.datef" name="datef" required/>
        </div>
        <div>
          <div>
            <h4>Compétences requises :</h4>
            <div class="competences-list">
              <div *ngFor="let comp of competences">
                <input type="checkbox" [value]="comp.code_skill"
                       [checked]="competencesSelectionnees.includes(comp.code_skill)"
                       (change)="toggleCompetence(comp.code_skill)">
                <label>{{ comp.description_competence_fr }}</label>
              </div>
            </div>
          </div>
        </div>
        <div>
          <h3>Employés affectés :</h3>
          <ul>
            <li *ngFor="let employe of mission.employes">
              {{ employe.prenom }} {{ employe.nom }} ({{ employe.competences }})
              <button (click)="removeEmployeFromMission(mission.idm, employe.identifiant)">🗑️ Retirer</button>
            </li>
          </ul>
        </div>


        <button type="button" class="btn-employes" (click)="openEmployesPopup(editMission.idm)">Présélectionner
          employé
        </button>
        <div class="double-bouton">
          <button type="submit" class="btn-appliquer" [disabled]="!editMissionForm.form.valid">Enregistrer</button>
          <button type="button" class="btn-fermer" (click)="closeEditMissionPopup()">Fermer</button>
        </div>
      </form>
    </div>
  </div>
}


@if (isEmployesPopupOpen) {
  <div class="popup-employes">
    <div class="popup-content">
      <h3>Employés recommandés</h3>
      <div *ngFor="let employe of employes">
        <label>
          <input type="checkbox" [value]="employe.identifiant"
                 (change)="toggleEmployeSelection(employe.identifiant)">{{ employe.prenom }} {{ employe.nom }} -
          Compétences : {{ employe.competences }}
        </label>
      </div>
      <button class="btn-appliquer" (click)="saveEmployes()">Ajouter les employés sélectionnés</button>
      <button class="btn-fermer" (click)="closeEmployesPopup()">Fermer</button>
    </div>
  </div>
}
