.edit-mission-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
}

.popup-content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 40%;
  max-width: 600px;
  animation: slideDown 0.3s ease-in-out;
  overflow-y: auto;
  max-height: 80%;
  z-index: 1001;
}


input[type="text"], input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: border 0.3s;
}


input:focus {
  border-color: #D9A566;
  outline: none;
}

form .competences-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  max-width: 100%;
  overflow-y: auto;
  max-height: 250px;
}


form label {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
}

form input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}


/*form div {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;

}*/


/*--------------------------------------------------------------------------------------------------*/


.carte {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  overflow: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 20px;
  width: 400px; /* Taille fixe */
  height: 400px; /* Hauteur fixe */
}

.carte:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.haut-carte-mission {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 20px;

}

p {
  margin: 0;
}

.titre-mission {
  display: flex;
  justify-content: end;
  align-items: center;
  color: #3C4658;
  font-weight: bold;
  font-size: x-large;
  text-transform: uppercase;
}

etat-mission {
  display: flex;
  height: 30px;
}

.en-cours {
  padding: 5px;
  border-radius: 5px;
  background-color: lightgreen;
  color: white;
}

.terminee {
  padding: 5px;
  border-radius: 5px;
  background-color: lightgrey;
  color: white;
}

.preparation {
  padding: 5px;
  border-radius: 5px;
  background-color: lightsalmon;
  color: white;
}

.planifiee {
  padding: 5px;
  border-radius: 5px;
  background-color: pink;
  color: white;
}

.date-mission {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;

}


.employes-en-mission {
  padding-top: 10px;
}

.competences-requises, .employes-assignes {
  margin-top: 5px;
}

/*--------------------------------------------------------------------------------*/


.edit-mission-popup, .delete-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
}


.add-popup .popup-content {
  max-width: 650px;
}

.popup-employes {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}


.btn-autre {
  width: 250px;
  margin-top: 20px;
}


.bouton-preselec {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.liste-empl {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.bouton-edit-mission {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.empl-comp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
