<div class="container-card">
    <div class="title">
      <h1>{{ mission.nomm }}</h1>
    </div>
    <div class="information">
      @if (mission.dated <= currentDate && mission.datef >= currentDate) {
      <p><strong>Etat :</strong> Mission en cours</p>
      }
      @if (mission.dated >= currentDate && !isPrepared) {
        <p><strong>Etat :</strong> Mission en préparation</p>
      }
      @if (mission.dated >= currentDate && isPrepared) {
        <p><strong>Etat :</strong> Mission plannifiée</p>
      }
      @if (mission.datef < currentDate) {
        <p><strong>Etat :</strong> Mission terminée</p>
      }
      <p><strong>Employés :</strong></p>
    
      <div *ngFor="let employe of mission.employes">
        <p>{{ employe.prenom }} {{ employe.nom }} - Compétences : {{ employe.competences }}</p>
      </div>

     
    </div>
    <div class="date">
      <p><strong>Date de début :</strong> {{ mission.dated | date:'dd/MM/yyyy' }}</p>
      <p><strong>Date de fin :</strong> {{ mission.datef | date:'dd/MM/yyyy' }}</p>
    </div>
    <div class="competence-carte">
        <p><strong>Compétences utilisées :</strong> {{ mission.competences}}
    </div>
    <div class="button-container">
        <button class="btn btn-success" (click)="openEditMissionPopup(mission)">Modifier</button>
        <button class="btn btn-danger" (click)="openDeleteMissionPopup(mission)">Supprimer</button>
    </div>
  </div>
 
 
@if (isDeletePopupOpen) {
    <div class="delete-popup">
      <div class="popup-content">
        <h3> Supprimer {{ delMission.nom + " " + delMission.prenom }}</h3>
        <p>Voulez vous vraiment supprimer cette mission ?</p>
        <button type="submit" class="btn-apply" (click)="deleteMission()">Confirmer</button>
        <button class="btn-close" (click)="closeDeleteMissionPopup()">Abandonner</button>
      </div>
    </div>
  }


  @if (isEditMissionPopupOpen) {
    <div class="edit-mission-popup">
      <div class="popup-content">
 
        <h3>Modifier une mission</h3>
        <form (ngSubmit)="saveMission()" #editMissionForm="ngForm">
          <div>
            <label for="nom">Nom : </label>
            <input type="text" id="nom" [(ngModel)]="editMission.nomm" name="nom" required/>
          </div>
          <div>
            <label for="dated">Date de début : </label>
            <input type="date" id="dated" [(ngModel)]="editMission.dated" name="dated" required/>
          </div>
          <div>
            <label for="datef"> Date de fin : </label>
            <input type="date" id="datef" [(ngModel)]="editMission.datef" name="datef" required/>
          </div>
          <div>
            <div>
                <h4>Compétences requises :</h4>
                <div class="competences-list">
                <div *ngFor="let comp of competences">
                  <input type="checkbox" [value]="comp.code_skill" [checked]="competencesSelectionnees.includes(comp.code_skill)" (change)="toggleCompetence(comp.code_skill)">
                  <label>{{ comp.description_competence_fr }}</label>
                </div>
              </div>
            </div>
        </div>
        <div >
            <h3>Employés affectés :</h3>
            <ul>
              <li *ngFor="let employe of mission.employes">
                {{ employe.prenom }} {{ employe.nom }} ({{ employe.competences }})
                <button (click)="removeEmployeFromMission(mission.idm, employe.identifiant)">🗑️ Retirer</button>
              </li>
            </ul>
          </div>
          
          <div>
            <button type="button" class="btn-employes" (click)="openEmployesPopup(editMission.idm)">Présélectionner employé</button>
            <button type="submit" class="btn-apply" [disabled]="!editMissionForm.form.valid">Enregistrer</button>
            <button type="button" class="btn-close" (click)="closeEditMissionPopup()">Fermer</button>
          </div>
        </form>
 
      </div>
    </div>
  }
  @if(isEmployesPopupOpen){
    <div class="popup-employes">
        <div class="popup-content">
          <h3>Employés recommandés</h3>
          <div *ngFor="let employe of employes">
            <label>
              <input type="checkbox" [value]="employe.identifiant" (change)="toggleEmployeSelection(employe.identifiant)">{{ employe.prenom }} {{ employe.nom }} - Compétences : {{ employe.competences }}
            </label>
          </div>
          <button class="ajouter-emp"(click)="saveEmployes()">Ajouter les employés sélectionnés</button>
          <button  class="fermer-emp"(click)="closeEmployesPopup()">Fermer</button>
        </div>
    </div>
  }
