
body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow Condensed', serif;
  background: linear-gradient(to bottom, #ffffff, #f9f9f9 50%, #ffffff);
  color: #4d4d4d;
}

h1, h2, h4, h5, h6 {
  color: #4d4d4d;
  text-transform: uppercase;
  font-weight: bold;
}

h3 {
  color: #4d4d4d;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
}

a:hover {
  text-decoration: underline;
}

/* Conteneur global pour l'application */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background: linear-gradient(to bottom, #f9f9f9 70%, #ffffff 100%);
  border: 10px solid #ff6700;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

:root {
  background-color: #F5F5F5;
}

button {
  display: flex;
  justify-content: center;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  width: 130px;
  color: white;
}

.double-bouton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.btn-modifier {
  background-color: #8bb4d7;
}

.btn-modifier:hover {
  background-color: #6191ba;
}


.btn-supprimer {
  background-color: #ea4258;
}

.btn-supprimer:hover {
  background-color: #c52b3f;
}


.btn-appliquer {
  background-color: #D9A566;

}

.btn-appliquer:hover {
  background-color: #bd8542;
}

.btn-fermer {
  background-color: #dc3545;


}

.btn-fermer:hover {
  background-color: #a71d2a;
}

.btn-ajouter {
  background-color: #D9A566;

}

.btn-ajouter:hover {
  background-color: #bd8542; /* Changement de couleur au survol */
}


.btn-autre {
  background-color: #5B74A6;

}

.btn-autre:hover {
  background-color: #6191ba;
}


.popup-content h3 {
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;
}
