
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom, #ffffff, #f9f9f9 50%, #ffffff);
  color: #4d4d4d;
}

h1, h2, h3, h4, h5, h6 {
  color: #4d4d4d;
  text-transform: uppercase;
  font-weight: bold;
}

a {
  color: #ff6700;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Conteneur global pour l'application */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background: linear-gradient(to bottom, #f9f9f9 70%,  #ffffff 100%);
  border: 10px solid #ff6700;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
