<div class="side-bar">

  <nav class="header__nav">

    <div class="menu-button" routerLink="accueil">
      <div class="menu-icon">
        <img src="/assets/img/icon-menu.png" alt="Menu"/>
      </div>
      <span class="menu-text">Menu</span>
    </div>
    <div class="personnel-button" routerLink="employes">
      <div class="personnel-icon">
        <img src="/assets/img/icon-employe.png" alt="Personnel"/>
      </div>
      <span class="personnel-text">Personnel</span>
    </div>
    <div class="mission-button" routerLink="missions">
      <div class="mission-icon">
        <img src="/assets/img/icon-mission.png" alt="Missions"/>
      </div>
      <span class="mission-text">Missions</span>
    </div>
    <div class="mission-button" routerLink="dashboard">
      <div class="mission-icon">
        <img src="/assets/img/icon-dashboard.png" alt="Dashboard"/>
      </div>
      <span class="dashboard-text">Dashboards</span>
    </div>
    <div class="mission-button" routerLink="salon">
      <div class="mission-icon">
        <img src="/assets/img/icon-forum.png" alt="Salon"/>
      </div>
      <span class="dashboard-text">Salon</span>
    </div>

  </nav>


</div>
